@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 20px;
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --button-green: #3a5a40;
    --nav-green: hsl(150, 20%, 25%);
    --side-nav-green-text: hsl(125, 15%, 15%);
    --side-nav-green-bg: hsl(100, 15%, 50%);
    --border-green: hsl(119, 15%, 42%);
    --desaturated-green: #a3b18a;
    --less-desaturated-green: hsl(100, 13%, 52%);
    --background-clr: hsl(36, 25%, 76%);
    --content-bg-clr: hsl(36, 25%, 73%);
    --cream-text: hsl(43, 26%, 89%);
}


.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: stretch;

    margin-top: 100px;
}

aside {
    width: 20vw; 
    height: 100vh;  
}
.nav-side {
    width: 20vw; 
    height: 100vh;
    
    overflow-y: auto;
    position: fixed;
    top: 80px;
}
.nav-side a {
    min-height: 2.5rem;

    display: block;
    background-color: var(--side-nav-green-bg);
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--side-nav-green-text);
    font-size: 0.9rem;
    font-weight: 500;
    border-bottom: 1px solid var(--side-nav-green-text);

    transition: all 0.1s ease;
}
.nav-side a:hover{
    color: var(--cream-text);
}
.nav-side::-webkit-scrollbar {
    width: 12px;
    
}
.nav-side::-webkit-scrollbar-track {
    background: var(--border-green);
}
.nav-side::-webkit-scrollbar-thumb {
    border: 3px solid var(--border-green);
    background-color: var(--desaturated-green);
    border-radius: 10px;
}

/* MAIN CONTENT */

hr {
    border: none;
    border-top: 5px dashed hsl(36, 25%, 50%);
    margin: 3rem 0;
    width: 90%;
}

main {
    margin-left: 20vw;
    margin-top: 80px;
    min-width: 80vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    font-size: 3rem;
}
main .text-encylopédie-pres {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

main .section-text {
    width: 80%;

    scroll-margin-top: 35vh;

    background-color: var(--content-bg-clr);
    padding: 40px;
    
}
main .section-text h2{
    margin-bottom: 2rem;

    width: fit-content;

    color: hsl(30, 30%, 10%);
    font-family: "IBM Plex Sans";
    font-weight: 700;
    /*text-decoration: underline;*/

    background: linear-gradient(transparent 0%, transparent 80%, hsla(30, 30%, 10%, 70%) 100%);
    background-size: 100% 15px;
    background-repeat: no-repeat;
    background-position: left bottom;
    
}
main .section-text h3 {
    font-family: "IBM Plex Sans";
    font-size: 1.2rem;
    font-weight: 600;
    font-style: italic;
    
    color: hsl(30, 30%, 25%);

    margin-bottom: .8rem;
}
main .section-text h4 {
    font-family: "IBM Plex Sans";
    font-size: 1.05rem;
    font-weight: 500;
    font-style: italic;
    
    color: hsl(30, 30%, 30%);

    margin-bottom: 0.5rem;
}
main .section-text h4::after {
    content: " ↓"
}

main .section-text p {
    font-size: 0.9rem;
    margin-left: .9rem;
    margin-bottom: 1rem;
}
main .section-text .sub-section {
    margin-left: 2rem;
}
main .section-text .sub-section ul {
    list-style: none;
    
}
main .section-text .sub-section ul li {
    margin-bottom: 2rem;
}
main .section-text .sub-section ul li::before{
    content: "";
    position: absolute;
    
    width: 2rem;   /* size here */
    height: 2rem;

    background: url(../assets/dot-list-horse.png) no-repeat center;
    background-size: contain;

    filter: opacity(0.8);
}
main .section-text .sub-section ul li p {
    margin-left: 2rem;
    font-size: 0.85rem;
    color: hsl(0, 0%, 10%);
}


