@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}
:root {
    --button-green: #3a5a40;
    --nav-green: #344e41;
    --border-green: #588157;
    --desaturated-green: #a3b18a;
    --cream-text: hsl(43, 26%, 89%);
    --footer-grey: rgb(187, 176, 157);
    --background-clr: hsl(36, 25%, 76%);
}

body {
    background: var(--background-clr);
}

/* NAV BARS */
.nav-top {
    height: 80px;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    align-items: center;
    justify-content: center;

    background-color: var(--nav-green);

    position: fixed;
    top: 0;

    z-index: 999;
}
.brand {
    display: flex;
    align-items: center;

    
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: var(--cream-text);
}
.brand img {
    height: 80px;
    padding: 10px 20px;
   
}
.nav-links {
    min-width: 7em;
    height: 70%;

    /* For centering only */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 

    border-left: 3px solid var(--border-green);
    border-right: 3px solid var(--border-green);
    
    background-color: var(--main-green);
    color: var(--cream-text);
    font-size: 0.9rem;
    font-weight: 400;
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    letter-spacing: .1rem;
    transition: all 0.1s ease;
    
}
.nav-links:hover {
    background-color: var(--button-green);
    font-size: .75rem;
    
}
.nav-links:last-of-type {
    border: none;
}

.nav-top ul {
    /*display: flex;*/
    list-style: none;
}



/* FOOTER */

footer {
    width: 100%;
    height: 60px;

    background-color: var(--footer-grey);
    color: rgb(99, 86, 59);
}
.footer-container {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-areas: 
    "logo space space space ";

    align-items: center;
}
.footer-container img {
    grid-area: "logo";

    filter: grayscale(1) opacity(0.7);
    margin-left: .5rem;
}